:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#root article {
  width: 500px;
  margin: 25px;
  text-align: center;
}

h2 {
  font-size: 1em;
}